body {
  margin: 0;
  background-color: #181a1b;
  color: #e8e6e3;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 75vh;
  width: 100%;
}

video #imageTag {
  max-width: 100%;
  /* Force Correct Aspect Ratio */
  height: auto !important;
}
